.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
.heading{
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
}
button {
    background-color: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}
button:hover {
    background-color: #1c2328;
}
p {
    font-size: 1.2em;
    margin: 15px 0;
}
